{% extends 'base/base.html' %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Главная</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">Вход</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Вход</h2>
            </div>
            <div class="col-md-7">
            <div class="border p-4 rounded" role="alert">
              Нет аккаунта? Для регистрации <a href="/user/register/">нажмите здесь</a>
            </div>
          </div>

            <div class="col-md-7">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Вход">
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}